# deps
node_modules/
web/.next/
web/out/

# env
.env
.env.local
.env*.local

# foundry
contracts/lib/
contracts/cache/
contracts/out/
contracts/broadcast/

# misc
.DS_Store
*.log
.vscode/
.idea/
contracts/foundry.lock
.gitmodules
